.wordle-grid {
    display: grid;
    width: 390px;
    height: 445px;
    margin: auto;
 }
 .wordle-cell {
    display: grid;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    width: 70px;
    height: 70px;
 }
 .wordle-cell-with-letter {
    display: grid;
    border-style: solid;
    border-color: rgb(160, 160, 160);
    border-width: 2px;
    width: 70px;
    height: 70px;
 }
 .wordle-cell-green {
    display: grid;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    background-color: #6aaa64;
    width: 70px;
    height: 70px;
 }
 .wordle-cell-yellow {
    display: grid;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    background-color: #c9b458;
    width: 70px;
    height: 70px;
 }
 .wordle-cell-gray {
    display: grid;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    background-color: #86888a;
    width: 70px;
    height: 70px;
 }
.wordle-letter-black {
    margin: auto;
    font-size: 36px;
    font-weight: bold;
}
.wordle-letter-white {
    margin: auto;
    font-size: 36px;
    font-weight: bold;
    color: white;
}